body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-image: url(../images/fundo.png);
  scroll-behavior: smooth;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
* {
  font-family: Lato, Helvetica, sans-serif;
  color: #333447;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}
@media only screen and (min-width: 60em) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.imagem {
  width: 95%;
  padding-top: 5%;
  border-radius: 10%;
}
.descricao {
  margin: 20px;
  text-align: left;
  font-size: 15px;
}
.titulosTopo {
  margin: 05px;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.sub_descricao {
  margin: 20px;
  text-align: left;
  font-size: 15px;
  text-align: justify;
}
.sub_descricao_experiencia {
  margin: 20px;
  text-align: left;
  font-size: 17px;
  text-align: justify;
}
.titulo {
  margin: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.configBotao {
  color: #ffffff;
  background-color: #454645;
  font-size: 15px;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 50%;
}
.efeitosBotao {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 5px;
}
.efeitosBotao a {
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
}
.efeitosBotao a:hover {
  color: white;
  background-color: black;
  transition: 0.2s ease-in;
}
.titulo-formacao {
  font-weight: bold;
  font-size: 18px;
}
.sub-formacao {
  font-weight: normal;
  text-align: left;
  font-size: 14px;
}
.outro-titulo-formacao {
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 5%;
}
.fonteFamily {
  font-family: 'Doppio One', verdana, sans-serif;
  font-style: italic;
}
.paddingTB {
  padding-top: 10px;
  padding-bottom: 15px;
}
.zoom {
	overflow: hidden;
}
.zoom img {
	max-width: 100%;
	transition: all 0.5s;
}
.zoom:hover img {
	transform: scale(1.0);
  border-radius: 50%;
	margin-left: 10px;
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  filter: brightness(120%);
	}